<div class="body">
  <app-logo></app-logo>

  <div class="rules">
    <br>
    <h3>Rules</h3>
    <p>The rules of the game are simple.</p>
    <br>
    <p>You will hear ten excerpts of film music.</p>
    <br>
    <p>Your mission, if you accept it, is to click on the movie poster corresponding to the music.</p>
    <p>You will be able to follow the evolution of your score throughout the game and listen again to the titles heard
      at the end of it.</p>
    <br>
    <p>If you're ready, click the Play button!</p>
    <p>Good luck padawan</p>
    <br>

    <a [routerLink]="['/game']"><img class="btnPlay" src="../../assets/images/btn-play.png" alt=""></a>
  </div>
</div>