<div class="body-contain">
  <app-logo></app-logo>

  <audio src="../assets/starwars.mp3" autoplay></audio>

  <div class="about">
    <div class="crawl">
      <div>
        <h2>Created by:</h2>
        <br />
        <p>Stephane B.</p>
        <p>Adrien C.</p>
        <p>Cyril D.</p>
        <br />
        <br />
        <h3>P2 - WILD CODE</h3>
        <h3>SCHOOL 2023</h3>
        <br />
        <h4>Thanks to:</h4>
        <br />
        <p>Amina mina Hey-Hey</p>
        <p>John Markovic</p>
        <p>MomoCase</p>
        <p>Space Djam</p>
        <p>Open Class Geoff</p>
        <p>Jack ADI style</p>
        <p>Niko le p'tit renne</p>
        <p>Fredo Mercury</p>
        <p>Tri-Stan Smith</p>
        <p>Jimmy Be Good</p>
        <p>Ca(mo)mille</p>
        <p>Danse avec (les) Lou</p>
        <p>PlatyGus</p>
        <p>Cathy Seguin</p>
        <p>qAnthoche</p>
        <p>David do REMI fa sol </p>
        <br />
        <p>FIGMA</p>
        <p>Visual Studio Code</p>
        <p>Google</p>
        <p>Google Fonts</p>
        <p>FreePik</p>
        <P>Pexels</P>
        <p>Trello</p>
        <p>CodePen.io</p>
        <p>Discord</p>
        <p>Free Frontend</p>
        <p>Youtube</p>
        <p>Deezer</p>
        <p>The Movie Database API</p>
        <p>GitHub</p>
        <p>FaceBook</p>
        <p>Instagram</p>
        <p>TikTok</p>
        <p>Developer.mozilla.org</p>
      </div>
    </div>
  </div>
</div>