<div class="conteneur">
  <div id="cube" class="logo">
    <div id="avant">
      <a [routerLink]="['/']"><img src="assets/images/logo-sac.png" alt="logo sac" /></a>
    </div>
    <div id="fond">
      <a [routerLink]="['/']"><img src="assets/images/logo-sac.png" alt="logo maison" /></a>
    </div>
    <div id="droit">
      <a [routerLink]="['/']"><img src="assets/images/btn-home.png" alt="logo sac" /></a>
    </div>
    <div id="gauche">
      <a [routerLink]="['/']"><img src="assets/images/btn-home.png" alt="logo sac" /></a>
    </div>
  </div>
</div>