<div class="equalizer">
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars6"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars1"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars2"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars4"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars3"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars5"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars4"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars1"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars5"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars3"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars6"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars1"></span>
  </div>
  <div class="equalizer-bar">
    <span *ngFor="let bar of bars4"></span>
  </div>

</div>